<div id="content">
  <div class="about-subtle-carbon">
		<p class="about-intro">
			<span id="about-first">This is a blog by Nick.</span>
			You're in the right place if you want to read about
			programming and stuff.
		</p>
		<p class="about-body">
			I'm Nick, a Canadian engineering student who is intrigued by
			clever technologies. This blog is a place where I will discuss 
			my interests that relate to programming and web design.
		</p>
		<p class="about-body">
			I have only recently become interested in web-design, however
			I am loving all that there is to learn and wish I got interested
			sooner.  My previous programming experience has been primarily
			with C, C++, and all sorts of Visual Basic.  I am currently
			enjoying learning more about Ruby on Rails, Javascript, and
			CSS.  But who knows what it will be tomorrow!
		</p>
		<p class="about-body">
			My main reason for starting this blog is to learn.  Therefore,
			if there is a better way to accomplish something that I
			demonstrate, I will appreciate it if you take the time to
			let me know.
		</p>
		<p class="about-end">
			So that's a little bit about who created this.  I hope you
			enjoy it! 
		</p>
	</div>
</div>
