<body id="b">
	<div id="content">
		<div id="container"></div>
  </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<%= javascript_include_tag 'Three.js' %>
	<%= javascript_include_tag 'NickGL.js' %>
	<%= javascript_include_tag 'blog.js.erb' %>

</body>
