$site-orange: #FF8100;
$site-blue: #1533AD;
$site-green: #00BD39;
$site-brown: #A65400;
$site-grey: #282828;

$black: #000000;
$white: #FFFFFF;
$site-font: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "    AppleGothic", sans-serif;

@mixin orange-hover {
	&:hover {
		background-color: $white;
		color: $site-orange;
		border-color: $white;
	}
}

@mixin content-align {
		text-align: justify;

		& p, & div {
			margin: 45px;
		}
}

@mixin no-spacing {
	& {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}
}

body {
	@include no-spacing;
	font-family: $site-font;
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: auto;
	z-index: 1;
}

#nav-background {
	background-color: $white;
	width: 100%;
	height: 100px;
	z-index: 2;
	position: fixed;
	right: 0;
	@include no-spacing;
}

#navigation {
	position: relative;
	top: 0;
	width: 100%;
	height: 100px;
}

#nav-panel {
	width: 100%;
	height: 100px;
	position: fixed;
	left: 0;
	z-index: 1;
	white-space: nowrap;
	#nav-buttons {
		position: relative;
		display: inline-block;
		width: 50%;
		min-width: 200px;
		height: 36px;
		padding: 0px;
		margin-top: 31px;
		margin-bottom: 33px;
		border: 0px;
		background-color: $black;

		body.home & #nav-home {
			color: $site-orange;
			border-color: #FFFFFF;
			@include orange-hover;
		}
		body.blog & #nav-blog {
			color: $site-orange;
			border-color: $white;
			@include orange-hover;
		}
		body.about & #nav-about {
			color: $site-orange;
			border-color: $white;
			@include orange-hover;
		}
	
		a.nav-button {
			float: right;
			color: $white;
			text-decoration: none;
			padding: 0px 10px 0px 10px;
			height: 36px;
			line-height: 36px;
			border-color: $white;
			border-left: 1px;
			border-left-style: solid;
			border-right-style: none;
			border-top-style: none;
			border-bottom-style: none;
			
			@include orange-hover;
			&:hover {
				float: right;
			}
		}

	}
	
	#logo-area {
		display: inline-block;
		width: 400px;
		height: 100%;
		padding: 0px;
		margin: 0px;
		border: 0px;
	
		a.logo {
			vertical-align: center;
			float: left;
			height: 60px;
			margin-top: 17px;
			margin-bottom: 23px;
			color: $site-orange;
			text-decoration: none;
			font-size: 300%;
			font-weight: 600;
			&:hover {
				text-shadow: 1px 1px $site-grey;
				margin-top: 16px;
				margin-left: -1px;
			}
		}

	}	
}

#content {
	position: relative;
	max-width: 800px;
	background-color: $white;
	margin: auto;
	margin-bottom: 50px;
	padding: 0px;

	z-index: -2;

	@include content-align;	

	body.about & {
		div.about-subtle-carbon {
			z-index: 1;
			display: inline-block;
			position: relative;
			margin-left: 45px;
			margin-right: 45px;
			margin-top: 0px;
			margin-bottom: 0px;
			background: url(/assets/subtle_carbon.png) repeat 0 0;
			box-shadow: 5px 5px 0px 0px $site-orange;
			color: $white;
			#about-text {
				z-index: 1;
				margin-left: 45px;
				margin-right: 45px;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}

	p.about-intro {
		font-size: 150%;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 30px;
		margin-bottom: 30px;
		position: relative;
	}

	p.about-body {
		margin: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
	}

	p.about-end {
		margin: 0px;
		margin-top: 10px;
		margin-bottom: 30px;
		position: relative;
	}

	body.home & p, body.blog & p {
		text-align: center;
		font-style: italic;
		font-size: 125%;
		display: inline-block;
		margin-top: 50px;
	}
}

#footer {
	width: 100%;
	height: 100px;
	background: url(/assets/black_twill.png) repeat 0 0;
	#footer-e {
		display: block;
	}
}

a.email {
	color: $site-orange;
	font-decoration: underline;
}

p {
	z-index: 2;
}

