<div id="navigation">
	<div id="nav-background"></div>
	<div id="nav-panel">
		<div id="nav-buttons">
			<%= link_to "About", about_path, :class => "nav-button", 
						:id => "nav-about" %>
			<%= link_to "Blog", blog_path, :class => "nav-button",
						:id => "nav-blog" %>
			<%= link_to "Home", root_path, :class => "nav-button",
						:id => "nav-home" %>
		</div>
		<div id="logo-area">
			<%= link_to "entechnical", root_path, :class => "logo" %>
		</div>
	</div>
</div>
