<div id="navbackground"></div>
<div id="nav">
	<div id="navbuttons">
		<%= link_to "About", about_path, :class => "navbutton", 
					:id => "navabout" %>
		<%= link_to "Blog", blog_path, :class => "navbutton",
					:id => "navblog" %>
		<%= link_to "Home", root_path, :class => "navbutton",
					:id => "navhome" %>
	</div>
	<div id="logoarea">
		<%= link_to "entechnical", root_path, :class => "logo" %>
	</div>
</div>
